 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Fullstack mobile developer, focused on native development for Android and iOS platforms. More than four years of Android development and two years of iOS development.</p>
                </div>
                <div class="col-lg-4">
                    <p>Experience with several languages, frameworks and tools, including: Java, Kotlin, Objective-C and Swift; Clean architecture and design patterns; REST and SOAP APIs; Spring Boot and Play Framework; Hibernate; PostgreSQL, MySQL and SQLite; </p>
                </div>
            </div>
        </div>
    </section>
